---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.formulari {
  margin-left: auto;
  margin-right: auto;
  width: 1000;
}
