---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table#arago {
  width:80%; 
  margin-left:10%; 
  margin-right:10%;
  vertical-align: middle;
}

tr#arago {
  vertical-align: middle;
}

td#arago-icon {
  vertical-align: middle;
  padding-right: 10px;
}

td#arago-desc {
  width: 70%;
  vertical-align: middle;
}
